{% extends "base.html" %}
{% block head %}
    <title>BlogBook - About</title>
    <meta name="author" content="Mushfik Hasan Mahim">
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    </style>

    
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container fw-bolder fs-1 text-center p-2 my2" style="width:90%;">
    
        About Page
    </div>

  
  
    
<main>
  <div class="container py-4">
   

    <div class="p-5 mb-4 bg-light text-dark rounded-3">
      <h1 class="display-5 fw-bold">What is BlogBook ? </h1>
      BlogBook is a Blog Application whwre yiu can create, edit, delete and update posts and blogs.
   <div class="py-5">
      <h1>What you can do on the app?</h1>
      
When you sign in to your Account, you can browse, edit, and delete published and draft posts. If you have admin or author permissions to multiple blogs, you can switch between blogs. 

<h3>With this app you can </h3>
<ul>
<li>Create and publish new posts</li>
<li>Share a link to your post</li>
<li>Switch between accounts and blogs</li>
<li>Visit the BlogBook Help Center</li>
<li>Send in-app feedback</li>
</ul>
 
        
        
        <a href="{{ url_for('index') }}" class="btn btn-primary" type="button">View Posts</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6 mb-3">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Tutorials</h2>
          <p>Hello, User! Can't understand how to use BlogBook ? You can visit to our toutorials page. I you encounter any problems you can send us feedback.
          </p>
          <button class="btn btn-outline-light" type="button">Tutorials</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light text-dark border rounded-3">
          <h2>New search Option</h2>
          <p>Do you know we have a awesome search functionality. You can quick search your mosted wanted posts by searching here. So, why you are wating? Sign Up and enjoy!   </p>
          <button class="btn btn-outline-secondary" type="button">Sign Up</button>
        </div>
      </div>
    </div>

    
  </div>
</main>


    
 

    
{% endblock %}